.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  gap: 2rem;
  /* background-color: rgb(124, 150, 150); */

}

.gallery-title {
  font-family: "Zeyada", cursive;
  font-weight: 590;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.gallery-grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.gallery-item {
  cursor: pointer;
}

.gallery-item img {
 width: 90%;
  max-width: 600px;
  height: 90%;
  border-radius: 9px;
  cursor: pointer;

  transition:
   transform 0.4s ease;
   box-shadow: 0.6 ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}

.gallery-item img:active {
  transform: scale(1.03);
}



.gallery-caption {
  margin-top: 0.6rem;
  font-size: 0.9rem;
}

/* ===== MODAL ===== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 1rem;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background: #7c6767;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
    animation: zoomIn 0.3s forwards;

}

.modal-content img {
  max-width: 100%;
  max-height: 90vh;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.modal-content h3 {
  margin-top: 0.8rem;
  font-family: "Zeyada", cursive;
  font-size: 1.4rem;

}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
}


/* ===== Animations ===== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

/* MOBILE TWEAK */
@media (max-width: 600px) {
  .modal-content {
    padding: 0.5rem;
    max-width: 95%;
  }
  .gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}