.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  gap: 2rem;
  /* background-color: rgb(124, 150, 150); */
}

.title {
  font-family: "Zeyada", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  font-family: "Zeyada", cursive;
  font-weight: 10000;
  
  font-style: normal;
  font-size: 2.6rem;
  color: #555;
  margin-top: 0.5rem;
}

.hero-image {
  width: 90%;
  max-width: 600px;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 23px; 
  height: 18px; 
  cursor: pointer;
}

.bar {
  height: 3px;        
  width: 100%;        
  background-color: #111;
  border-radius: 2px; 
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    width: 100%;
    right: 0;
    top: 70px;
    flex-direction: column;
    background-color: #fafafa;
    display: none;
  }

  .menu.active {
    display: flex;
  }
}

